

body
{
    background: #fafafa url(../images/layout/bg/retina_wood.png);
    color: #444;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 0;
}

#error-wrap
{
    text-align: center;
    width: 700px;
    margin: auto;
}

#error-digits
{
    margin: auto;
    margin-bottom: 15px;
    display: inline-block;
}

#error-digits > span
{
    display: inline-block;
    font-size: 50px;
    margin: 5px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
    padding: 16px 32px;
    position: center;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#error-digits > span:after, 
#error-digits > span:before
{
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    bottom: -3px;
    left: 3px;
    right: 3px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-top: 0;
}

#error-digits > span:before
{
    bottom: -5px;
    left: 6px;
    right: 6px;
}

#error-wrap h1
{
    margin-bottom: 15px;
    text-shadow: 1px 1px #fff;
    color: #313131;
}

#error-wrap p a
{
    border-bottom: 1px dotted #999;
    text-decoration: none;
}

#error-form.form-search
{
    padding: 25px 0;
}

#error-form.form-search .search-query
{
    height: 28px;
}

#error-form.form-search .btn
{
    line-height: 28px;
}

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.animated
{
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes bounceInDown
{
    0%
    {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }

    60%
    {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }

    80%
    {
        -webkit-transform: translateY(-10px);
    }

    100%
    {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown
{
    0%
    {
        opacity: 0;
        -moz-transform: translateY(-2000px);
    }

    60%
    {
        opacity: 1;
        -moz-transform: translateY(30px);
    }

    80%
    {
        -moz-transform: translateY(-10px);
    }

    100%
    {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInDown
{
    0%
    {
        opacity: 0;
        -o-transform: translateY(-2000px);
    }

    60%
    {
        opacity: 1;
        -o-transform: translateY(30px);
    }

    80%
    {
        -o-transform: translateY(-10px);
    }

    100%
    {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInDown
{
    0%
    {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60%
    {
        opacity: 1;
        transform: translateY(30px);
    }

    80%
    {
        transform: translateY(-10px);
    }

    100%
    {
        transform: translateY(0);
    }
}

.delay300
{
    animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
    -o-animation-delay: 300ms;
}

.delay600
{
    animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    -webkit-animation-delay: 600ms;
    -o-animation-delay: 600ms;
}

.bounceInDown
{
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
